h1{
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    background-color: grey;
    padding: 4rem;
}

#background{
    background-color: rgb(100, 100, 100);

}

#textintro{
    text-align: justify;
    margin: 3rem;
}

.container{
    font-family: 'Rubik', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;

}